In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os


# Import API key
from api_keys import geoapify_key

In [2]:
pip install gmaps

Requirement already satisfied: gmaps in c:\users\mtang\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: six in c:\users\mtang\anaconda3\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\mtang\anaconda3\lib\site-packages (from gmaps) (5.1.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\mtang\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\mtang\anaconda3\lib\site-packages (from gmaps) (7.6.5)
Requirement already satisfied: ipython>=5.3.0 in c:\users\mtang\anaconda3\lib\site-packages (from gmaps) (7.31.1)
Requirement already satisfied: pickleshare in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pygments in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.11.2)
Requirement already satisfied: colorama in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.5)
Requirement already satisfied: backcall in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.6)
Requirement already satisfied: decorator in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\mtang\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (6.15.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: packaging in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (21.3)
Requirement already satisfied: debugpy>=1.0 in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (7.3.4)
Requirement already satisfied: psutil in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.9.0)
Requirement already satisfied: pyzmq>=17 in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (23.2.0)
Requirement already satisfied: nest-asyncio in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.5)
Requirement already satisfied: tornado>=6.1 in c:\users\mtang\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mtang\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: jupyter_core in c:\users\mtang\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\mtang\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.16.0)
Requirement already satisfied: fastjsonschema in c:\users\mtang\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\mtang\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\mtang\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.12)
Requirement already satisfied: attrs>=17.4.0 in c:\users\mtang\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\mtang\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: entrypoints in c:\users\mtang\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mtang\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\mtang\anaconda3\lib\site-packages (from jupyter_core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (302)
Requirement already satisfied: nbconvert>=5 in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.4)
Requirement already satisfied: terminado>=0.8.3 in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.3.0)
Requirement already satisfied: prometheus-client in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.14.1)
Requirement already satisfied: jinja2 in c:\users\mtang\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\mtang\anaconda3\lib\site-packages (from packaging->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (3.0.9)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.13)
Requirement already satisfied: beautifulsoup4 in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: testpath in c:\users\mtang\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\mtang\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.1)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\mtang\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\mtang\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\mtang\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\mtang\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.3.1)
Requirement already satisfied: webencodings in c:\users\mtang\anaconda3\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pycparser in c:\users\mtang\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install citipy

Requirement already satisfied: citipy in c:\users\mtang\anaconda3\lib\site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in c:\users\mtang\anaconda3\lib\site-packages (from citipy) (0.16)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230
5,5,ushuaia,-54.8000,-68.3000,8.81,81,75,3.09,AR,1666108231
6,6,albany,42.6001,-73.9662,10.36,74,29,2.10,US,1666108231
7,7,carnarvon,-24.8667,113.6333,20.02,76,0,7.46,AU,1666108232
8,8,sisimiut,66.9395,-53.6735,2.72,98,100,3.79,GL,1666108235
9,9,saint-pierre,-21.3393,55.4781,22.82,68,0,5.14,RE,1666108236



### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [20]:
# %%capture --no-display

# Configure the map plot
gmaps.configure(api_key=geoapify_key)

# Display the map
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
print(fig)

Figure(layout=FigureLayout(height='420px'))

# Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [21]:
# Narrow down cities that fit criteria and drop any results with null values
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 65.
# Wind speed less than 10 and no clouds

crit_temp = city_data_df['Max Temp'] < 80
crit_temp = city_data_df['Max Temp'] > 65
crit_windSpeed = city_data_df['Wind Speed'] < 10
crit_cloudiness = city_data_df['Cloudiness'] == 0
final_criteria = crit_temp & crit_windSpeed & crit_cloudiness 

# Drop any rows with null values
city_data_df.dropna(how='any',axis=0)
city_data_df

# Display sample data
# Use boolean indexing to filter the weather_df dataframe
ideal_weather = city_data_df[final_criteria]
ideal_weather = city_data_df.dropna()
ideal_weather = city_data_df.reset_index()
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230
5,5,ushuaia,-54.8000,-68.3000,8.81,81,75,3.09,AR,1666108231
6,6,albany,42.6001,-73.9662,10.36,74,29,2.10,US,1666108231
7,7,carnarvon,-24.8667,113.6333,20.02,76,0,7.46,AU,1666108232
8,8,sisimiut,66.9395,-53.6735,2.72,98,100,3.79,GL,1666108235
9,9,saint-pierre,-21.3393,55.4781,22.82,68,0,5.14,RE,1666108236

# Step 3: Create a new DataFrame called `hotel_df`

In [22]:
# Create hotel_df with hotel name column
hotel_df = pd.DataFrame(city_data_df, columns=['City', 'Country', 'Lat', 'Lng', 'Humidity', 'Hotel Name'])
hotel_df

hotel_df['Hotel Name'] = hotel_df['Hotel Name'].replace(np.nan, "")
hotel_df.head(10)

           City Country      Lat       Lng  Humidity Hotel Name
0          faya      SA  18.3851   42.4509        35
1       farsund      NO  58.0948    6.8047       100
2   new norfolk      AU -42.7826  147.0587        58
3     jamestown      US  42.0970  -79.2353        77
4       lanzhou      CN  36.0564  103.7922        48
5       ushuaia      AR -54.8000  -68.3000        81
6        albany      US  42.6001  -73.9662        74
7     carnarvon      AU -24.8667  113.6333        76
8      sisimiut      GL  66.9395  -53.6735        98
9  saint-pierre      RE -21.3393   55.4781        68

# Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [24]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 10000,
        "key": geoapify_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

            City Country      Lat       Lng  Humidity Hotel Name
0           faya      SA  18.3851   42.4509        35        NaN
1        farsund      NO  58.0948    6.8047       100        NaN
2    new norfolk      AU -42.7826  147.0587        58        NaN
3      jamestown      US  42.0970  -79.2353        77        NaN
4        lanzhou      CN  36.0564  103.7922        48        NaN
..           ...     ...      ...       ...       ...        ...
572    sovetskiy      RU  61.3614   63.5842        96        NaN
573      tatarsk      RU  55.2190   75.9828        89        NaN
574    canchungo      GW  12.0672  -16.0333        61        NaN
575      iquique      CL -20.2208  -70.1431        68        NaN
576         poum      NC -20.2333  164.0167        79        NaN

[577 rows x 6 columns]

In [25]:
# Using the template add the hotel marks to the heatmap
info_box_template = """

Name
{Hotel Name}

City
{City}
Country
{Country}

"""


# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))